aside
    div(class="aside-option")
        p Top Albums
        img(src="/images/icon_move.svg", alt="")
    div(class="aside-option")
        p Top Artists 
        img(src="/images/icon_move.svg", alt="")
    div(class="aside-option")
        p Top Tracks
        img(src="/images/icon_move.svg", alt="")
    div(class="aside-option")
        p My Bento
        img(src="/images/icon_move.svg", alt="")