footer
    ul
        il 
            a(href="/")  © 2024 Nodify
        il 
            a(href="/user/login") privacy & cookie policy
        il 
            a(href="/user/register") terms and conditions