header
    a(href="/" class="home")
        img(src="/images/nodify_logo.svg", alt="nodify logo" class="logo")
        H1 Nodify
    ul
        il 
            a(href="/profile/posts")  Profile
        il 
            a(href="/user/login") Login 
        il 
            a(href="/user/register") Register