extends ../layout

block content
    div(class="post-container")
        div(class="post-container-grid")
            div(class="post-profile-container")
                div(class="post-user-data")
                    img(src="/images/profile_picture.jpg", alt="profile picture")
                    p Seboska 
                    p @tag ° nov 20
                img(src="/images/icon_dots.svg", alt="" id="post-options")
            div(class="content")
                h1 POST TITLE 
                p POST TEXT
            img(src="/images/barney.jpg", alt="post image" class="post-image")
            div(class="post-buttons-container")
                div(class="post-button")
                    img(src="/images/icon_upvote.svg", alt="")
                    p 
                div(class="post-button")
                    img(src="/images/icon_downvote.svg", alt="")
                    p 
                div(class="post-button")
                    img(src="/images/icon_comment.svg", alt="")
                    p 
                div(class="post-button")
                    img(src="/images/icon_bookmark.svg", alt="")
                    p 