div(class="profile-container")
        div(class="profile-grid")
            div(class="profile-item profile-card")
                img(src="https://i.scdn.co/image/ab6775700000ee85f3eba01994c39d6367568421", alt="profile picture")
                p(id="profile-username") Seboska
                p(id="profile-tag") @Seboska
            div(class="profile-item" id="profile-description")
                p 22y Music Purist and Gatekeeper. I only listen to good music like Metallica or Splitnot. Folow me in my other social media insta:www.myinsta.com tiktok:www.mytiktok.com
            div(class="profile-item")
                a(href="/update" class="edit-profile-button") Update
        div(class="profile-details") 
            p connections 200
            p Joinned October 2010
        nav 
            a(href="/profile/posts") Posts
            a(href="/profile/you") You  
            a(href="/profile/collection") Collection 
            a(href="/profile/jam") Jam