div(class="you-option-container")
    div(class="you-option")
        p 
        p All time
        img(src="/images/icon_arrow.svg", alt="")
    div(class="you-option")
        img(src="/images/icon_config.svg", alt="")
    div(class="you-option")
        img(src="/images/icon_stats.svg", alt="")